body{
  background: #E5E4E2;
  height: 100vh;
}
.grid-container {
  background:  #D9D9D9;
  grid-gap: 0;
}
.loginC{
  background-image: url("../../public/images/house-lock.svg");
  background-repeat: no-repeat;
  background-size: 58%;
  background-position:center center;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border:20px;
  text-align: center;
  padding: 25px;
  display: flex;
  border-radius: 50px;
  height: 70%;

}
#loginImage{
  max-width: 50%;
  height: auto;
  margin:10px;
}
.loginBt, .loginBt:hover{
  background: #006D77;
  border:1px;
  border-radius: 50px;
  width: 100%;
  margin-left: 5px;
  font-size: 20px;
}

.inputFc{
  border-radius: 50px;
  border-color: #D9D9D9;
  margin: 5px;
  padding: 5px;
  background: #D9D9D9;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25) inset;
  font-size: 20px;
}
.inputFc:Hover{
  border-radius: 50px;
  border-color: #006D77;
  padding: 5px;
  background: #D9D9D9;
}
.inputFc:Active {
  border-radius: 50px;
  border-color: #006D77;
  padding: 5px;
  background: #D9D9D9;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25) inset;
}
.CardHP{
  background: #FAFAFA;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border:20px;
  border-radius: 50px;
  text-align: center;
  padding: 25px;
  display: flex;

}
#present{
  background: #EDF6FF ;
}
#not-present{
  background: #FFDDD2 ;
}
#problematic{
  background: #E29578 ;
}
#Nav{
  background: #006D77;
}
.navItem{
  background: #006D77;
}